:root {
  --main-color: #333;
}
body {
  font-family: "TT Hoves", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
}
.header {
  min-height: 100px;
  display: flex;

  align-items: center;
}
.header__logo a {
  display: block;
  max-width: 68px;
  filter: brightness(0.1);
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.left-container {
  min-width: 34%;
}

.list__item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.list__item:hover {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.list__link {
  color: var(--main-color);
  font-family: "TT Hoves";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
/* gallery */
.gallery {
  display: flex;
  overflow: hidden;
}
.gallery__text {
  display: flex;
  flex-direction: column;
  grid-gap: 90px;
  justify-content: flex-end;
}
.gallery__title {
  color: #bdbdbd;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  /* line-height: 64px; */
}
.gallery__name {
  color: var(--main-color);
  font-family: "TT Hoves";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
.gallery__img {
  max-width: 770px;
  position: relative;
}
.gallery__link {
  position: absolute;
  letter-spacing: 2.4px;

  bottom: 0;
  color: var(--main-color);
  font-family: "TT Hoves";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding: 29px 50px;
  background-color: #fff;
  transition: ease 0.3s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
}
.arrow-icon {
  width: 24px; /* Встановіть розміри svg, які вам потрібні */
  height: 24px;
  fill: red; /* Змінюємо колір на червоний; вкажіть потрібний колір */
}
.gallery__link:hover,
.about__link:hover {
  color: #fff;
  background: var(--main-color);
}
.about__link {
  color: var(--main-color);
  font-family: "TT Hoves";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: fit-content;
  padding: 29px 50px;
  background-color: #fff;
  transition: ease 0.3s;
  text-transform: uppercase;
  display: inline-block;
}
.arrow {
  display: flex;
  gap: 22px;
}
.arrow__left img {
  transform: rotate(180deg); /* Початковий поворот на 180 градусів */
  transition: transform 0.3s ease;
}

.arrow__left,
.arrow__right {
  border: 1px solid #f2f2f2;
  background: #f9f9f9;
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-slide {
  background: #fff;
}

.count {
  font-size: 24px;
  color: #bdbdbd;
  line-height: 24px; /* 100% */
  display: flex;
  gap: 32px;
}
.count span {
  color: #bdbdbd;
}
.arrow *:hover {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;

  padding-top: 10px;
  background: #fff;
  box-sizing: border-box;
  padding: 0 15px;
  left: 0;
}
.about {
  margin-top: 120px;
  background: #fbfbfb;

  display: flex;
  padding: 0 70px 0 100px;
}
.about__img {
  min-width: 50%;
  min-width: 50%;
  display: grid;
  gap: 0 20px;
  grid-template-areas:
    "img1 img2"
    "img3 img2";
  padding: 40px 0 0;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
  margin: auto;
}
.img3 {
  grid-area: img3;
  transform: translateY(30px);
}
.about__text {
  padding: 30px 0 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img-l {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 30px;
}
.img-r {
  position: relative;
  top: 60px;
}
.img-l img {
  object-fit: cover; /* Встановлюємо, щоб зображення збільшувалося або зменшувалося, щоб заповнити контейнер */
}
.about__title {
  font-size: 64px;
  font-weight: 300;
  color: #bdbdbd;
}
.about__desc {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  line-height: 25px;
}
.mission {
  margin-top: 120px;
}

.section__title {
  color: #bdbdbd;
  font-family: "TT Hoves";
  font-size: 64px;
  margin-bottom: 60px;
  font-weight: 300;
}
.mission__list {
  display: flex;
}
.mission__item {
  display: flex;
  flex: 1 0 50%; /* Задаємо зростання для гнучкості і ширину 50% */

  gap: 30px;
}

.item__number {
  color: #f2f2f2;
  font-family: "SF Pro Display";
  font-size: 200px;
  font-weight: 900;
  font-style: normal;
  line-height: 0.7;
}
.item__text {
  color: #333;
  font-family: "TT Hoves";
  font-size: 22px;
  line-height: 36px;
}
.checkbox__label {
  color: #333;

  letter-spacing: 0.42px;
}
.text-max-w {
  max-width: 279px; /* Встановлюємо максимальну ширину 50% для першого <p> елемента */
}

.project {
  margin-top: 120px;
}
.project__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  /* grid-template-areas:
    "pr1 pr2 pr2"
    "pr3 pr4 pr5"; */
  gap: 30px;
}
.pr2 {
  grid-column: span 3;
}
.pr3 {
  grid-column: span 2;
}
.pr-one {
  background-image: url("../img/project/Rectangle 12.png");
  background-size: cover;
}
.pr-two {
  background-image: url("../img/project/image 15.png");
}
.pr-three {
  background-image: url("../img/project/image 16.png");
}
.pr-four {
  background-image: url("../img/project/image 17.png");
}
.pr-five {
  background-image: url("../img/project/image 18.png");
}
/* .pr1 {
  grid-area: pr1;
}

.pr2 {
  grid-area: pr2;
}

.pr3 {
  grid-area: pr3;
}

.pr4 {
  grid-area: pr4;
}

.pr5 {
  grid-area: pr5;
} */
.row {
  display: flex;
  gap: 30px; /* Відступ між проектами */
}

.project-item {
  position: relative;
  width: auto; /* Регулюйте розмір картинок проектів за потребою */
  height: 255px;
}

.project-item img {
  width: 100%;
  background-size: cover;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff; /* Колір тексту для інформації проектів */
  /* padding: 48px 78px; */

  opacity: 0; /* Приховуємо початково інформацію проектів */
  transition: opacity 0.3s ease-in-out; /* Додамо плавний перехід для ефекту появи */
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-link {
  margin-top: 14px;
  color: #fff;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.project-title {
  color: #fff;
  font-family: TT Hoves;
  font-size: calc(16px + 46 * (100vw / 1440));

  white-space: wrap;
  font-weight: 700;
  /* line-height: 64px; */
}
.project-item:hover .project-info {
  opacity: 1;
  background-color: rgba(51, 51, 51, 0.8);
  /* При наведенні миші показуємо інформацію проектів */
}

.comunication__content {
  display: flex;
  gap: 30px;
}
.comunication__form {
  width: 59%;
  max-width: 391px;
}
.comunication {
  margin-top: 120px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group input {
  line-height: 46px;
  width: 100%;
  border: none;
  background: #f3f3f3;
  outline: none;
  padding: 0 20px;
}
.form-group .label,
.form-group textarea {
  letter-spacing: 0.56px;
  color: #8d8d8d;
  line-height: 45px;
  padding-left: 20px;
}
.form-group textarea {
  background: #f3f3f3;
  outline: none;
  border: none;
  width: 100%;
}

/* Сховати label, коли input не порожній */
.form-group input:not(:placeholder-shown) + .label {
  opacity: 0;
}

/* Показати label, коли input порожній або в фокусі */
.form-group input:placeholder-shown + .label,
.form-group input:focus + .label {
  opacity: 1;
}
.input-required {
  color: red;
}
.form-group input:focus {
  border: none;
}
.comunication__btn {
  color: #fff;
  background: #333;
  border: 1px solid transparent;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s;
  max-width: 222px;
  margin-top: 21px;
}
.socialItem:hover {
  transform: scale(1.2);
}
.comunication__btn:hover {
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #333;
}
.form-group {
  width: 100%;
  position: relative;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
}
.comunication__img {
  width: 100%;
  max-width: 749px;
  height: 100%;
  display: flex; /* Якщо контейнер має інші елементи, щоб вирівняти їх у вертикальному центрі */
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: center;
}
.comunication__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkbox-gr {
  display: flex;
  gap: 16px;
  margin: 22px 0;
}
.footer {
  padding: 58px 116px;
  margin-top: 120px;
  display: flex;
  background: #2c2c2c;
  color: #fff;
  gap: 50px;
}
.info-wr {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 78px;
}
.footer__navItem a,
.contact__list a {
  color: #fff;
  display: flex;
}
.contact__icon {
  margin-right: 14px;
  width: 16px;
}
.footer__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__logo {
  max-width: 145px;
}
.contact__item {
  display: flex;
}
.footer__col {
  width: 25%;
  max-width: 344px;
}
.footer__logo img {
  max-width: 145px;
}
.social__icons {
  display: flex;
  justify-content: space-between;
}
.footer a {
  transition: ease 0.3s;
  line-height: 24px;
  font-weight: 500;
  font-family: TT Hoves;
}
.header__logo img {
  /* Тут ми встановлюємо колір патерну */
  fill: blue;
}
.city__text {
  font-family: TT Hoves;

  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .project-item {
    height: 120px;
  }
  .lock {
    overflow: hidden;
  }
  .comunication__form {
    width: 100%;
  }
  .comunication__content {
    flex-direction: column;
  }
  .about__title {
    font-size: 50px;
  }
  .project-title {
    font-size: calc(16px + (46 + 46 * 0.7) * ((100vw - 320px) / 1440));
  }
  .project-info {
    padding: 10px;
  }
  .row {
    gap: 10px;
  }
  .project__list {
    gap: 10px;
  }
  .header {
    position: relative;
    width: 100%;
  }
  .header__top {
    position: fixed;
    left: 0;
    background: #fff;
    max-width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 10px 15px 0;
  }
  .gallery__text {
    grid-gap: 15px;

    align-items: center;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery__title {
    font-size: 30px;
  }
  .nav {
    flex-grow: 0;
  }
  .header {
    justify-content: space-between;
    gap: 200px;
  }

  .container {
    padding: 10px;
  }
  .header__burger {
    display: block;
  }
  .menu {
    display: block;
  }
  .header .list {
    transition: left ease 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .header .list {
    left: -500%;
    background: #fff;
    z-index: 1;
    position: fixed;
  }
  .header._active .list {
    left: 0;
  }
  .list__link {
    font-size: 35px;
    line-height: 40px;
  }
  .about {
    flex-direction: column-reverse;
  }
  .mission__list {
    flex-direction: column;
    gap: 30px;
  }
  .item__text {
    font-size: 18px;
  }
  .footer__logo,
  .footer__navWr,
  .footer__contact {
    display: none;
  }
  .footer {
    flex-direction: column;

    padding: 10px;
  }
  .footer__col {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .info-wr {
    padding: 48px 10px;
  }

  .container {
    padding: 10px;
  }
  .header {
    gap: 0px;
  }
  .gallery__title {
    font-size: 40px;
  }
  .about {
    padding: 0 10px;
  }
}
